{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "strict": 0,
    "curly": "off"
  }
}
