/* Color Theme Swatches in Hex */
$future-heroes-anynoumos-1-hex: #727273;
$future-heroes-anynoumos-2-hex: #d6d2be;
$future-heroes-anynoumos-3-hex: #f2ead0;
$future-heroes-anynoumos-4-hex: #f2935c;
$future-heroes-anynoumos-5-hex: #f2f2f2;

/* Color Theme Swatches in RGBA */
$future-heroes-anynoumos-1-rgba: rgba(114, 114, 115, 1);
$future-heroes-anynoumos-2-rgba: rgba(214, 210, 190, 1);
$future-heroes-anynoumos-3-rgba: rgba(242, 234, 208, 1);
$future-heroes-anynoumos-4-rgba: rgba(242, 147, 92, 1);
$future-heroes-anynoumos-5-rgba: rgba(242, 242, 242, 1);

/* Color Theme Swatches in HSLA */
$future-heroes-anynoumos-1-hsla: hsla(240, 0, 44, 1);
$future-heroes-anynoumos-2-hsla: hsla(49, 22, 79, 1);
$future-heroes-anynoumos-3-hsla: hsla(45, 56, 88, 1);
$future-heroes-anynoumos-4-hsla: hsla(22, 85, 65, 1);
$future-heroes-anynoumos-5-hsla: hsla(0, 0, 94, 1);

// * Nice shades of blue and  nice base white
/* Color Theme Swatches in Hex */
$BLUE-ICY-1-hex: #035aa6;
$BLUE-ICY-2-hex: #0477bf;
$BLUE-ICY-3-hex: #dceaf2;
$BLUE-ICY-4-hex: #048abf;
$BLUE-ICY-5-hex: #04b2d9;

/* Color Theme Swatches in RGBA */
$BLUE-ICY-1-rgba: rgba(3, 90, 166, 1);
$BLUE-ICY-2-rgba: rgba(4, 119, 191, 1);
$BLUE-ICY-3-rgba: rgba(220, 234, 242, 1);
$BLUE-ICY-4-rgba: rgba(4, 138, 191, 1);
$BLUE-ICY-5-rgba: rgba(4, 178, 217, 1);

/* Color Theme Swatches in HSLA */
$BLUE-ICY-1-hsla: hsla(207, 96, 33, 1);
$BLUE-ICY-2-hsla: hsla(203, 95, 38, 1);
$BLUE-ICY-3-hsla: hsla(201, 45, 90, 1);
$BLUE-ICY-4-hsla: hsla(197, 95, 38, 1);
$BLUE-ICY-5-hsla: hsla(190, 96, 43, 1);

/* Color Theme Swatches in Hex */
$Paleta-corto-oficina-1-hex: #ffffff;
$Paleta-corto-oficina-2-hex: #c3d7dd;
$Paleta-corto-oficina-3-hex: #8a9191;
$Paleta-corto-oficina-4-hex: #515557;
$Paleta-corto-oficina-5-hex: #f4db8a;

/* Color Theme Swatches in RGBA */
$Paleta-corto-oficina-1-rgba: rgba(255, 255, 255, 1);
$Paleta-corto-oficina-2-rgba: rgba(195, 215, 221, 1);
$Paleta-corto-oficina-3-rgba: rgba(138, 145, 145, 1);
$Paleta-corto-oficina-4-rgba: rgba(81, 85, 87, 1);
$Paleta-corto-oficina-5-rgba: rgba(244, 219, 138, 1);

/* Color Theme Swatches in HSLA */
$Paleta-corto-oficina-1-hsla: hsla(0, 0, 100, 1);
$Paleta-corto-oficina-2-hsla: hsla(193, 27, 81, 1);
$Paleta-corto-oficina-3-hsla: hsla(180, 3, 55, 1);
$Paleta-corto-oficina-4-hsla: hsla(200, 3, 32, 1);
$Paleta-corto-oficina-5-hsla: hsla(45, 82, 74, 1);

/* Color Theme Swatches in Hex */
$Glowing-Blue-1-hex: #230a59;
$Glowing-Blue-2-hex: #3e38f2;
$Glowing-Blue-3-hex: #0029fa;
$Glowing-Blue-4-hex: #5c73f2;
$Glowing-Blue-5-hex: #829fd9;

/* Color Theme Swatches in RGBA */
$Glowing-Blue-1-rgba: rgba(35, 10, 89, 1);
$Glowing-Blue-2-rgba: rgba(62, 56, 242, 1);
$Glowing-Blue-3-rgba: rgba(0, 41, 250, 1);
$Glowing-Blue-4-rgba: rgba(92, 115, 242, 1);
$Glowing-Blue-5-rgba: rgba(130, 159, 217, 1);

/* Color Theme Swatches in HSLA */
$Glowing-Blue-1-hsla: hsla(258, 79, 19, 1);
$Glowing-Blue-2-hsla: hsla(241, 87, 58, 1);
$Glowing-Blue-3-hsla: hsla(230, 100, 49, 1);
$Glowing-Blue-4-hsla: hsla(230, 85, 65, 1);
$Glowing-Blue-5-hsla: hsla(219, 53, 68, 1);

/* Color Theme Swatches in Hex */
$Color-Theme-7-1-hex: #eadcf2;
$Color-Theme-7-2-hex: #b8a0d9;
$Color-Theme-7-3-hex: #ab8bd9;
$Color-Theme-7-4-hex: #024059;
$Color-Theme-7-5-hex: #146173;

/* Color Theme Swatches in RGBA */
$Color-Theme-7-1-rgba: rgba(234, 220, 242, 1);
$Color-Theme-7-2-rgba: rgba(184, 160, 217, 1);
$Color-Theme-7-3-rgba: rgba(171, 139, 217, 1);
$Color-Theme-7-4-rgba: rgba(2, 64, 89, 1);
$Color-Theme-7-5-rgba: rgba(20, 97, 115, 1);

/* Color Theme Swatches in HSLA */
$Color-Theme-7-1-hsla: hsla(278, 45, 90, 1);
$Color-Theme-7-2-hsla: hsla(265, 42, 73, 1);
$Color-Theme-7-3-hsla: hsla(264, 50, 69, 1);
$Color-Theme-7-4-hsla: hsla(197, 95, 17, 1);
$Color-Theme-7-5-hsla: hsla(191, 70, 26, 1);

// * Nice purples with yellow accent
/* Color Theme Swatches in Hex */
$Tema-de-cores-1-1-hex: #655dcc;
$Tema-de-cores-1-2-hex: #8784d9;
$Tema-de-cores-1-3-hex: #a2a0d9;
$Tema-de-cores-1-4-hex: #fefffe;
$Tema-de-cores-1-5-hex: #ffe343;

/* Color Theme Swatches in RGBA */
$Tema-de-cores-1-1-rgba: rgba(101, 92, 203, 1);
$Tema-de-cores-1-2-rgba: rgba(135, 132, 216, 1);
$Tema-de-cores-1-3-rgba: rgba(162, 160, 216, 1);
$Tema-de-cores-1-4-rgba: rgba(253, 255, 253, 1);
$Tema-de-cores-1-5-rgba: rgba(255, 226, 67, 1);

/* Color Theme Swatches in HSLA */
$Tema-de-cores-1-1-hsla: hsla(244, 51, 58, 1);
$Tema-de-cores-1-2-hsla: hsla(241, 52, 68, 1);
$Tema-de-cores-1-3-hsla: hsla(241, 42, 73, 1);
$Tema-de-cores-1-4-hsla: hsla(126, 100, 99, 1);
$Tema-de-cores-1-5-hsla: hsla(50, 100, 63, 1);

// * Really nice greens and whites
/* Color Theme Swatches in Hex */
$Asset-1-1-hex: #95bfbf;
$Asset-1-2-hex: #1b8c81;
$Asset-1-3-hex: #45bfa9;
$Asset-1-4-hex: #f2f2f2;
$Asset-1-5-hex: #ffffff;

/* Color Theme Swatches in RGBA */
$Asset-1-1-rgba: rgba(149, 191, 191, 1);
$Asset-1-2-rgba: rgba(27, 140, 129, 1);
$Asset-1-3-rgba: rgba(69, 191, 169, 1);
$Asset-1-4-rgba: rgba(242, 242, 242, 1);
$Asset-1-5-rgba: rgba(255, 255, 255, 1);

/* Color Theme Swatches in HSLA */
$Asset-1-1-hsla: hsla(180, 24, 66, 1);
$Asset-1-2-hsla: hsla(174, 67, 32, 1);
$Asset-1-3-hsla: hsla(169, 48, 50, 1);
$Asset-1-4-hsla: hsla(0, 0, 94, 1);
$Asset-1-5-hsla: hsla(0, 0, 100, 1);

// * Greyish earth tones:
/* Color Theme Swatches in Hex */
$_DSF9720-Dietrick_BMW-1-hex: #bfcdd9;
$_DSF9720-Dietrick_BMW-2-hex: #222426;
$_DSF9720-Dietrick_BMW-3-hex: #525759;
$_DSF9720-Dietrick_BMW-4-hex: #818b8c;
$_DSF9720-Dietrick_BMW-5-hex: #f2f2f2;

/* Color Theme Swatches in RGBA */
$_DSF9720-Dietrick_BMW-1-rgba: rgba(191, 205, 217, 1);
$_DSF9720-Dietrick_BMW-2-rgba: rgba(34, 36, 38, 1);
$_DSF9720-Dietrick_BMW-3-rgba: rgba(82, 87, 89, 1);
$_DSF9720-Dietrick_BMW-4-rgba: rgba(129, 139, 140, 1);
$_DSF9720-Dietrick_BMW-5-rgba: rgba(242, 242, 242, 1);

/* Color Theme Swatches in HSLA */
$_DSF9720-Dietrick_BMW-1-hsla: hsla(207, 25, 80, 1);
$_DSF9720-Dietrick_BMW-2-hsla: hsla(210, 5, 14, 1);
$_DSF9720-Dietrick_BMW-3-hsla: hsla(197, 4, 33, 1);
$_DSF9720-Dietrick_BMW-4-hsla: hsla(185, 4, 52, 1);
$_DSF9720-Dietrick_BMW-5-hsla: hsla(0, 0, 94, 1);

/* Color Theme Swatches in Hex */
$Quiet-Cry-1-hex: #1c1d21;
$Quiet-Cry-2-hex: #31353d;
$Quiet-Cry-3-hex: #445878;
$Quiet-Cry-4-hex: #92cdcf;
$Quiet-Cry-5-hex: #eeeff7;

/* Color Theme Swatches in RGBA */
$Quiet-Cry-1-rgba: rgba(28, 29, 33, 1);
$Quiet-Cry-2-rgba: rgba(49, 52, 61, 1);
$Quiet-Cry-3-rgba: rgba(68, 88, 119, 1);
$Quiet-Cry-4-rgba: rgba(146, 204, 206, 1);
$Quiet-Cry-5-rgba: rgba(238, 238, 247, 1);

/* Color Theme Swatches in HSLA */
$Quiet-Cry-1-hsla: hsla(224, 8, 12, 1);
$Quiet-Cry-2-hsla: hsla(222, 10, 21, 1);
$Quiet-Cry-3-hsla: hsla(216, 27, 36, 1);
$Quiet-Cry-4-hsla: hsla(181, 38, 69, 1);
$Quiet-Cry-5-hsla: hsla(234, 37, 95, 1);

/* Color Theme Swatches in Hex */
$KnotJustNautical-1-hex: #2c3e50;
$KnotJustNautical-2-hex: #fc4349;
$KnotJustNautical-3-hex: #d7dadb;
$KnotJustNautical-4-hex: #6dbcdb;
$KnotJustNautical-5-hex: #ffffff;

/* Color Theme Swatches in RGBA */
$KnotJustNautical-1-rgba: rgba(43, 61, 80, 1);
$KnotJustNautical-2-rgba: rgba(252, 67, 73, 1);
$KnotJustNautical-3-rgba: rgba(214, 218, 219, 1);
$KnotJustNautical-4-rgba: rgba(109, 187, 219, 1);
$KnotJustNautical-5-rgba: rgba(255, 255, 255, 1);

/* Color Theme Swatches in HSLA */
$KnotJustNautical-1-hsla: hsla(210, 29, 24, 1);
$KnotJustNautical-2-hsla: hsla(358, 97, 62, 1);
$KnotJustNautical-3-hsla: hsla(191, 5, 85, 1);
$KnotJustNautical-4-hsla: hsla(197, 60, 64, 1);
$KnotJustNautical-5-hsla: hsla(0, 0, 100, 1);

// * My custom made color swatch
$mediumBrown-1-hex: #ccb8a7;
$mediumBrown-2-hex: #a3a3a3;
$white-3-hex: #fffaf9;
$lightGreen-4-hex: #99ffba;
$mutedGreyGreen-5-hex: #b8ccb8;

$mediumBrown-1-rgba: rgba(204, 184, 167, 1);
$mediumBrown-2-rgba: rgba(163, 163, 163, 1);
$white-3-rgba: rgba(255, 250, 249, 1);
$lightGreen-4-rgba: rgba(153, 255, 186, 1);
$mutedGreyGreen-5-rgba: rgba(184, 204, 184, 1);

$mediumBrown-1-hsla: hsla(27.7, 26.6%, 72.8%, 1);
$mediumBrown-2-hsla: hsla(0, 0%, 63.9%, 1);
$white-3-hsla: hsla(10, 100%, 98.8%, 1);
$lightGreen-4-hsla: hsla(139.3, 100%, 80%, 1);
$mutedGreyGreen-5-hsla: hsla(120, 16.3%, 76.1%, 1);

// * My custom number 2:
$mediumGreyGreen-1-hex: #d6d6a5;
$darkGreyGreen-2-hex: #606059;
$offWhite-3-hex: #fffbed;
$lightGreyBlue-5-hex: #a9bdcc;
$lightNavyBlue-4-hex: #4a83ff;
$complementary-4-hex: #ff954a;
$greyFriends-4-hex: #f7f8ff;
$naturalPurple-4-hex: #888eba;

$mediumGreyGreen-1-rgba: rgba(214, 214, 165, 1);
$darkGreyGreen-2-rgba: rgba(96, 96, 89, 1);
$offWhite-3-rgba: rgba(255, 251, 237, 1);
$analagous-4-rgba: rgba(137, 74, 255, 1);
$lightGreyBlue-5-rgba: rgba(169, 189, 204, 1);
$lightNavyBlue-4-rgba: rgba(74, 131, 255, 1);
$complementary-4-rgba: rgba(255, 149, 74, 1);
$greyFriends-4-rgba: rgba(247, 248, 255, 1);
$naturalPurple-4-rgba: rgba(136, 142, 186, 1);

// * Third custom swatch:
$mediumGreyPurple-1-hex: #60668c;
$darkGreyPurple-2-hex: #5a5b61;
$lightGreyBlue-3-hex: #edf9ff;
$brightOrange-4-hex: #ff954a;
$lightGreyBrown-5-hex: #ccb3a9;

$mediumGreyPurple-1-rgba: rgba(96, 102, 140, 1);
$darkGreyPurple-2-rgba: rgba(90, 91, 97, 1);
$lightGreyBlue-3-rgba: rgba(237, 249, 255, 1);
$brightOrange-4-rgba: rgba(255, 149, 74, 1);
$lightGreyBrown-5-rgba: rgba(204, 179, 169, 1);
